
.backgroundContainer {
    background-image: url("../kidRocket.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position: center; */

  }


.CTA {
align-items: center;
color: red;
}